<!--
  author YC
  create 2017/12/26 1:38
  
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OverflowUsing</title>
    <style>
        /*overflow的三个属性: auto(自动判断是否加入滑轮)、scroll(默认加上滑轮)、hidden(隐藏超出部分)*/
        .div {
            background-color: darkorange;
            height: 200px;
            width: 800px;
            overflow: scroll;
        }
    </style>
</head>
<body>
<div class="div">
    YangChen <br>
    YangChen <br>
    YangChen <br>
    YangChen <br>
    YangChen <br>
    YangChen <br>
    YangChen <br>
    YangChen <br>
    YangChen <br>
    YangChen <br>
    YangChen <br>
    YangChen <br>
    YangChen <br>
    YangChen <br>
</div>
</body>
</html>